[2019-03-06 22:50] martinholmer opened #9 "Any planned use of taxcalc.Calculator.read_json_parameters method?"
Searching the Tax-Brain source code in the late afternoon of 2019-03-06, I see that there is no use being made by Tax-Brain of the `taxcalc.Calculator.read_json_parameters` static method.  I'm assuming that there are no plans to use that method in Tax-Brain, right?  If so, I plan to remove it.

And another question, when would be the right time to remove all the tbi-related code and tests from the

[2019-03-06 22:51] martinholmer commented on #9
@andersonfrailey and @hdoupe, see my two questions in [this comment](https://github.com/PSLmodels/Tax-Brain/issues/9#issue-418046017).

[2019-03-07 14:30] andersonfrailey commented on #9
@martinholmer asked:

There are no plans to use it, correct. If for whatever reason a need comes up down the road we can add it to the Tax-Brain source code so feel free to remove it.

Yes, the code and tests have been moved to Tax-Brain. I'm going to issue a first release of Tax-Brain, hopefully today, and move the model onto COMP. Once that is complete I'd be comfortable with the TBI related cod

[2019-03-07 19:21] martinholmer commented on #9
@andersonfrailey, Thanks for the update on your Tax-Brain development plans in [this comment](https://github.com/PSLmodels/Tax-Brain/issues/9#issuecomment-470547144).

[2019-03-12 15:35] martinholmer opened #20 "Question about dependencies in conda.recipe/meta.yaml"
@hdoupe and @andersonfrailey, I don't understand the following Tax-Brain requirements specification:
[code]
Can't you drop out the `pandas` and `numpy` lines from both sets of dependencies?
It would seem that they are redundant (and could cause dependency conflicts in the future) because `taxcalc` already lists `pandas` and `numpy` as requirements.  Certainly, the `behresp` packages, which make us

[2019-03-12 17:02] andersonfrailey commented on #20
@martinholmer, you're right. I've dropped the pandas and numpy requirements in PR #18.

[2019-03-12 18:00] martinholmer commented on #20
@andersonfrailey said:

OK.  Good.

[2019-03-12 18:00] #20 closed

[2019-03-16 12:24] #9 closed

[2019-04-06 14:35] MattHJensen opened #32 "Parameter category naming"
Currently the major parameter categories are `Behavior` and `Policy`. It might be nice to pair `Policy` with `Assumptions` and make `Behavior` a subcategory of `Assumptions`.

[2019-04-06 14:37] MattHJensen commented on #32
This the current manifestation on COMP:

![image](https://user-images.githubusercontent.com/8301092/55670910-beeb4700-5857-11e9-8c27-da50b9b630c7.png)

Note that `Behavior` is currently a subcategory of `Behavior`, where it could be a subcategory of `Assumptions`.

[2019-04-08 13:55] andersonfrailey commented on #32
@MattHJensen, thanks for the suggestion. I can make that change for the next release.

[2019-05-06 14:26] andersonfrailey commented on #32
This has been addressed in #38, closing.

[2019-05-06 14:26] #32 closed

[2019-05-13 10:53] donboyd5 opened #41 "Potential confusion for users looking for Tax-Brain"
I wanted to run Tax-Brain to help me figure out a puzzle I have run into with tc cli.

Wasn't sure how best to access it so I Googled policy simulation models, found that page, drilled down to [this page](https://www.pslmodels.org/Catalog/Tax-Brain.html), which has [Link to webapp](https://www.compmodels.org/PSLmodels/Tax-Brain/), which takes me to the compmodels version.

But I also found the oth

[2019-05-13 11:27] donboyd5 opened #42 "5 small issues re compmodels version of Tax-Brain"
I apologize if this is the wrong place to comment on the compmodels version of Tax-Brain. I searched for but did not find a place to comment on that. Am putting 5 small comments all together here so that it is easy to move them en masse if they belong elsewhere. If they belong here, I can separate them into individual issues if you want.

I am referring to the interface found [here](https://www.co

[2019-05-13 13:59] andersonfrailey commented on #42
Thanks for the feedback, @donboyd5.

Yes, this is definitely confusing. We've got a patch in the works in PR #40 and should have it live relatively soon.

I see your point here. I'll give this some thought and see how we could break down the parameters further.

This is a good point. I'll add version numbers to PR #40 so that they're included in the next release.

@hdoupe will be able to better he

[2019-05-13 14:02] hdoupe commented on #42
Thanks for the bug report/feedback Don. Some of these issues are on the comp side, or at least should be in the documentation on the COMP side.

1. Good point. @andersonfrailey If the "choice" validator is used, then a drop-down will be used instead of the number box.

2. Ah, I see. It would be nice if there was a suggestion that you needed to hit the reset button to get the new defaults. I found

[2019-05-13 14:14] donboyd5 commented on #42
Thanks. Might also be worth considering, for PR #40, whether you can change the row sort order in the distributional table(s) so that the row-stubs are in order of increasing income (now it must be based on character sort order for the stub names):

![image](https://user-images.githubusercontent.com/6538392/57628191-75350100-7567-11e9-819b-5109648f739a.png)

[2019-05-13 14:20] martinholmer opened #43 "Can't get pytest to work"
Perhaps I'm doing something wrong, but in an up-to-date Tax-Brain repo I can not run the pytest suite.   Here is what happens:
[code]
Am I doing something wrong?

[2019-05-13 14:57] andersonfrailey commented on #43
@martinholmer, no, you're not doing anything wrong. We've been revamping the Tax-Brain/COMP interactions, which included deleting the TBI directory, but I forgot to remove the line referencing it from the `taxbrain/__init__.py` folder. The tests still passed for me locally because there were a couple of untracked files in my local copy of the `tbi` directory so the directory wasn't completely dele

[2019-05-13 15:35] martinholmer commented on #43
@andersonfrailey,  Thanks for the explanation in issue #43.

[2019-05-14 17:07] andersonfrailey commented on #43
This issue is resolved with the merge of #40. Closing.

[2019-05-14 17:07] #43 closed

[2019-06-11 21:19] Peter-Metz opened #57 "Unable to process EITC adjustments"
Looks like Tax-Brain gets stuck when modeling EITC reform. So far, I have tried adjusting `EITC_c` and `EITC_rt` and both times COMP wasn't able to process the results.

[2019-06-12 12:03] hdoupe commented on #57
Thanks @Peter-Metz for the bug report. I'm looking into this on the COMP side, too.

[2019-06-14 16:59] #57 closed

[2019-06-14 20:18] hdoupe opened #59 "COMP error"
A COMP user just got this error:

[code]

using these inputs:

[code]

[2019-06-17 19:55] hdoupe commented on #42
@andersonfrailey Items 1, 2, 5 are resolved. I opened an issue for 3 (clickable sub sections) at comp-org/comp-ce#158.

[2019-06-18 12:37] hdoupe opened #61 "COMP error"
Inputs:
[code]

Traceback:

[code]

[2019-06-18 12:38] hdoupe commented on #61
I'll bump the server size. On the Tax-Brain side, Behavior-Response copies the calculator objects which doubles the memory usage for each run.

[2019-06-18 13:25] andersonfrailey commented on #42
Thanks for the update, @hdoupe. Item 4 has also been resolved as of PR #38.

[2019-06-18 13:26] andersonfrailey commented on #61
Thanks for the report, @hdoupe. I think this memory error is also why we have trouble with Travis. I'll see if we can find a way to reduce memory usage.

[2019-06-18 16:09] hdoupe commented on #61
No problem, I bumped the server memory to 6 CPU and 6 RAM. One of the Behavior sims I just ran took 400 seconds. It may be worth bumping the expected run time to 400 secs.

[2019-06-18 16:09] #61 closed

[2019-06-18 16:10] hdoupe commented on #59
#59 is resolved and the patch is live on compmodels.org.

[2019-06-18 16:10] #59 closed

[2019-06-18 18:59] hdoupe opened #62 "COMP Error"
- sim: https://compmodels.org/PSLmodels/Tax-Brain/41219/

- inputs:
[code]

- traceback:
[code]

[2019-06-18 19:56] andersonfrailey commented on #62
@hdoupe this is an issue with the parameter value. In tax-calculator `ACTC_c` has a max value of `CTC_c`. `CTC_c` goes from 2000 to 1000 starting in 2026, which is what's causing the error. So the model and `compconfig` package are working as expected.

I'm not sure what the best solution would be for dealing with this kind of error. Maybe in the parameter validation process this kind of error cou

[2019-06-18 20:26] hdoupe commented on #62
I think the quick and dirty solution is to catch the error in `validate_inputs` and set it under the "policy" section with the field name as "Parameter Error".

This could look like:

[code]

COMP will use "Parameter Error" for the parameter name associated with the error message.

[2019-06-18 20:44] MattHJensen commented on #62
@andersonfrailey, I don't quite understand the reason for the ACTC_c max to be set at CTC_c. Do you? I'm happy to bring this up in the Tax-Calculator repo if you don't.

(specifics aside, getting the error message right def seems useful!).

[2019-06-19 13:33] andersonfrailey commented on #62
@MattHJensen I do not, but I'll look through its history and try to figure it out. I'm not sure why it would need to be capped at CTC_c either. I'll open up an issue in Tax-Calc if I can't figure it out.

[2019-06-24 18:40] #62 closed

[2019-07-01 13:53] andersonfrailey commented on #41
Now that the old version of Tax-Brain has been archived, this issue has been taken care of. Closing.

[2019-07-01 13:53] #41 closed

[2019-07-15 13:39] andersonfrailey opened #70 "COMP Dev Kit Test Failure"
When I run the test suite, the COMP tests are currently failing with is output:
[code]
and
[code]

It looks like this might just be an issue with my marshmallow version though since both errors are traced back to `marshmallow/schema.py`. I'm currently using version `3.0.0rc8`.

cc @hdoupe

[2019-07-15 14:52] hdoupe commented on #70
Yep, this seems like an issue with marshmallow `3.0.0rc7` or `3.0.0rc8`. I'm getting similar errors with the `paramtools` tests. It looks like they just some work on args like `partial` in [release `3.0.0rc7`](https://marshmallow.readthedocs.io/en/3.0/changelog.html#rc7-2019-06-15). I'll take a look at this.

[2019-07-15 18:31] hdoupe commented on #70
@andersonfrailey Installing ParamTools 0.7.2 should resolve this problem.

[2019-07-23 12:22] hdoupe commented on #70
@andersonfrailey is #70 resolved?

[2019-07-23 12:26] hdoupe opened #71 "COMP Error"
- sim: https://compmodels.org/PSLmodels/Tax-Brain/41832/, https://compmodels.org/PSLmodels/Tax-Brain/41833/

- inputs:
[code]

- traceback:

[code]

[2019-07-23 13:34] andersonfrailey commented on #70
@hdoupe yep! Closing.

[2019-07-23 13:34] #70 closed

[2019-07-24 15:46] andersonfrailey commented on #71
This issue has been logged in the Tax-Calculator [repo](https://github.com/PSLmodels/Tax-Calculator/issues/2363) along with a [PR](https://github.com/PSLmodels/Tax-Calculator/pull/2364) to fix the bug.

[2019-07-24 16:30] hdoupe commented on #71
Great, thanks @andersonfrailey!

[2019-08-13 17:01] MattHJensen opened #79 "taxcalc 2.5.0"
Updating to taxcalc 2.5.0 will help the user described in https://github.com/PSLmodels/Tax-Calculator/issues/2362.

[2019-08-23 19:35] MattHJensen commented on #79
The update happened on a COMP rebuild. This is resolved.

[2019-08-23 19:35] #79 closed

[2019-08-30 00:36] andersonfrailey commented on #71
Now that Tax-Calculator 2.5.0 has been released this should be resolved. Closing.

[2019-08-30 00:36] #71 closed

[2019-09-23 22:22] hdoupe opened #85 "Compute Studio Error"
- link: https://compute.studio/PSLmodels/Tax-Brain/42731/
- inputs:

[code]

- traceback:

[code]

[2019-09-23 22:25] hdoupe commented on #85
I think this is a memory issue related to using the CPS and behavior parameters at the same time. `behresp` [makes copies of the `Calculator` objects](https://github.com/PSLmodels/Behavioral-Responses/blob/master/behresp/behavior.py#L96-L97) which makes the sims using behavior take longer and require significantly more memory.

[2019-09-23 23:49] hdoupe commented on #85
I increased Tax-Brain's server size from 2 CPU and 13 GB RAM to 4 CPU and 26 GB RAM, and bumped the time limit from 600 seconds to 1200 seconds. Sims using the CPS and behavior parameters can be run successfully now.

[2019-09-24 14:57] andersonfrailey commented on #85
Thanks for the report, @hdoupe. Seems like memory usage is going to be a recurring issue with behavior simulations with the CPS. I'm not sure what the long term solution to this is, but for now throwing more computing resources is probably our best bet. I'll see if I can think of something better for the long term

[2019-09-24 15:44] hdoupe commented on #85
Agreed. The bright side of the beefier servers is that the regular sims using the PUF without behavior params are completeing in about 150-180 secs instead of 300. Here's a breakdown of the approximate sim times:

| data source | static | behavioral |
| -----------| ---------- | ---------------- |
| cps | 290 | 450 |
| puf | 160 | 300 |

I don't know the full rationale for why `behresp` makes copi

[2019-09-28 14:02] hdoupe opened #86 "Compute Studio Error"
- links:
  - https://compute.studio/PSLmodels/Tax-Brain/42911/
  - https://compute.studio/PSLmodels/Tax-Brain/42912/
  - https://compute.studio/PSLmodels/Tax-Brain/4293/
  - https://compute.studio/PSLmodels/Tax-Brain/43003/
  - https://compute.studio/PSLmodels/Tax-Brain/43004/

- representative traceback:

[code]

inputs:
[code]

[2019-10-03 03:01] andersonfrailey commented on #86
This looks like an error caused by the user toggling off  CPI indexing for the 6th income bracket.

The income thresholds in the fifth bracket are capped at whatever the income thresholds are in the sixth bracket. Similarly, the minimum income threshold in the sixth bracket is set to the threshold in the fifth bracket. By toggling off CPI for the sixth bracket, they've locked the income thresholds

[2019-10-31 21:41] hdoupe opened #94 "Idea for fixing memory problems"
Tax-Brain has been somewhat limited on Compute Studio because it has hit memory problems when running the calculations for each year in parallel. Now that C/S supports dask clusters, we should see how much of a speed up we can get for Tax-Brain. In OG-USA, @jdebacker found that passing a `Calculator` object from one process to another using the distributed client causes memory problems, but things

[2019-11-01 21:02] andersonfrailey commented on #94
@hdoupe, I'm definitely down to try this approach. If I'm understanding the process you're describing correctly, what we'd need to do is create a new function in calculator that we will create each calculator object, advance/run that calculator, then pass all the results back for aggregation/presentation. Does that sound about right?

[2019-11-01 21:34] hdoupe commented on #94
Yep, you got it.

[2019-11-01 21:41] andersonfrailey commented on #94
Sweet. Definitely down to give it a shot. Do you think this would cause any issues for users running Tax-Brain locally? That would be a lot of calculator creation for a personal computer to handle. Maybe we could add an argument to the `run` method of `TaxBrain` that would either run Tax-Brain as it currently runs (only two calculators created) or in this new method, depending on its argument. Thi

[2019-11-06 19:54] Peter-Metz opened #98 "Idea for CS Speed Improvement - Behavioral Responses Package"
I have a hunch that part of the reason Tax-Brain takes a long time to run on C/S is because of the way the behavior parameters are handled. Right now, the user mods are processed with Paramtools using `behavior_params.json` and the default dictionary is:

[code]

Which, whether or not the user modifies these parameters, is fed into the Tax-Brain API (can someone verify this?). In a Jupyter Noteboo

[2019-11-06 22:33] hdoupe commented on #98
@Peter-Metz I just looked into this and it looks like an empty dictionary is passed to Tax-Brain when behavior parameters are not modified. To test this, I commented out the behavior parameter "inc" in the `cs-config` tests, set `verbose` to `True`, and added a print statement for the behavior params dictionary: https://github.com/PSLmodels/Tax-Brain/compare/master...hdoupe:check-behavior-params

[2019-11-07 13:17] Peter-Metz commented on #98
Thanks for looking into this @hdoupe! I'll close this issue because it doesn't seem to be slowing things down.

[2019-11-07 13:17] #98 closed

[2019-12-06 05:14] MaxGhenis opened #99 "Most benefit switches are not shown in CS UI"
See https://compute.studio/PSLmodels/Tax-Brain/#Benefits
![image](https://user-images.githubusercontent.com/6076111/70297778-2b7e6300-17a4-11ea-8930-604f63918ca0.png)

[2019-12-06 12:20] hdoupe commented on #99
@MaxGhenis Those switches are unavailable when using the PUF. I suppose the UI would be better if something like "Unavailable under current configuration" was shown instead.

[2019-12-10 16:46] TylerEvilsizer opened #101 "Small issue: SALT cap should not be indexed"
It appears that Tax Brain's baseline settings index the $10,000 cap on the state and local tax deduction for inflation, but it should not be. The limit does not increase with inflation...it's $10,000 for all years ($5,000 for married filing separately)

![image](https://user-images.githubusercontent.com/58742743/70549634-87e5d780-1b42-11ea-9551-e78075d947d4.png)

[2019-12-10 17:15] hdoupe commented on #101
@TylerEvilsizer thanks for opening this issue!

Tax-Calculator sets this as an indexed parameter (see value of "indexed" in the [parameter definition](https://github.com/PSLmodels/Tax-Calculator/blob/master/taxcalc/policy_current_law.json#L1460-L1505)).

@MattHJensen @Peter-Metz @andersonfrailey Can you comment on whether this parameter should be indexed or not?

[2019-12-10 17:24] MattHJensen commented on #101
@TylerEvilsizer is correct that the cap should not be indexed to inflation. I will fix this in Tax-Calculator. Thanks very much for the bug report @TylerEvilsizer!

[2019-12-12 06:10] MaxGhenis opened #102 "Differences table shows "pc_aftertaxinc""
Other column headers are written out phrases.
![image](https://user-images.githubusercontent.com/6076111/70687127-105b9980-1c63-11ea-912f-4a4caf65166d.png)

[2019-12-12 06:17] MaxGhenis opened #104 "Table subtitle doesn't describe average and percent columns"
The subtitle on the table reads:

![image](https://user-images.githubusercontent.com/6076111/70687290-92e45900-1c63-11ea-8363-1b700d9323f1.png)

This does not correctly describe percentage/share columns, or average columns:
* Percent with Tax Cut
* Percent with Tax Increase
* Average Tax Change
* Share of Overall Change
* pc_aftertaxinc

I'd suggest rephrasing this to something like:

[2019-12-12 06:35] MaxGhenis opened #105 "Single term for returns/filers in tables"
Minor suggestion to make table headers more consistent: returns or filers are currently denoted as a mix of `Returns` `Filers` `Count` and `Itemizers`. I think a single term would be clearer (my vote would be `Filers`).

**Distribution table:**
* Returns
* Standard Deduction Filers
* Itemizers (could be e.g. `Itemized filers`)
* AMT Filers

**Differences table:**
* Returns
* Count with Tax Cut
* C

[2019-12-13 00:54] MaxGhenis opened #106 "Continuous integration"
Would be good to have

[2019-12-13 15:01] hdoupe commented on #106
This would be great. @andersonfrailey tried this in PR #22, but TB used more memory than travis allowed. We should be able to resolve this with some memory management that would be helpful anyways.

[2019-12-13 19:09] MattHJensen commented on #101
This is now fixed in taxcalc 2.7.0 thanks to a PR from @MaxGhenis.

@hdoupe, is there something you can do to trigger a rebuild of Tax-Brain on Compute Studio, or do we need a new Tax-Brain release?

[2019-12-13 19:21] hdoupe commented on #101
Yep, I'll build it from master. I'll comment back when it's up.

[2019-12-13 19:30] #102 closed

[2019-12-13 20:38] TylerEvilsizer commented on #101
Thanks all!

On Fri, Dec 13, 2019 at 2:21 PM Henry Doupe <notifications@github.com>
wrote:

[2019-12-13 21:40] hdoupe opened #107 "Failed C/S test"
I got a test failure when running Tax-Brain's compute studio tests with the new version of Tax-Calculator:

[code]

After looking at the diff between [TC 2.6.0 and 2.7.0](https://github.com/PSLmodels/Tax-Calculator/compare/2.6.0...2.7.0), I think the cause is the change to the indexing offset logic (PSLmodels/Tax-Calculator#2381). I'm looking into this now.

[2019-12-13 21:59] hdoupe commented on #107
Can confirm that the difference can be explained by the bug fixed in PSLmodels/Tax-Calculator#2381:

- [last known value](https://github.com/PSLmodels/Tax-Calculator/blob/master/taxcalc/policy_current_law.json#L5092) for EITC_c[1kid] is 3461

- expected value was 3589.27
- actual value was 3538.53

- 3538.53 / 3461 - 3529.87 / 3461 ~ 0.0025 which is from the extra application of the cpi offset.

I

[2019-12-13 22:04] #107 closed

[2019-12-13 22:56] hdoupe commented on #101
All set! Tax-Brain, Tax-Cruncher, and Cost-of-Capital-Calculator are all running Tax-Calculator 2.7.0 Thanks again for the bug report @TylerEvilsizer!

[2019-12-17 02:56] andersonfrailey commented on #104
I like this idea, @MaxGhenis. I'll get a PR for it up.

[2019-12-17 03:22] andersonfrailey commented on #105
Thanks for the suggestion, @MaxGhenis. Tax-Brain uses the table headers specified in Tax-Calculator so I'm going to open this as an issue that repo.

[2019-12-17 16:28] Thirdhuman opened #110 "Modifiable elasticity of tax-filing for refundable credits"
Are there any plans to integrate a behavioral response that incorporates increased tax-filing?
I'm thinking in particular of fully-refundable child-tax credits here.  Current non-filers who stand to gain would plausibly change their behavior here.

[2019-12-17 23:09] andersonfrailey commented on #110
Hi @Thirdhuman, thanks for the suggestion. As of now we don't have plans to include a feature like that, though it would be great to have. I'll leave this issue open and if at a future date we figure out how to implement a method to account for changes in the number of tax filers we'll post about it here.

[2019-12-17 23:57] MaxGhenis commented on #110
My understanding is that the current logic assumes that all filers take advantage of all credits available to them, including current non-filers (imputed from the CPS). So Tax-Calculator should be overestimating EITC today, for example. I think the first step would be calibrating the filing rate and claim rate of credits like EITC to SOI totals, and identifying an elasticity from there would be us

[2020-03-12 22:00] #101 closed

[2020-04-13 20:20] MaxGhenis opened #115 "Clicking the bottom-left "Tables" result freezes"
When I click to open the top two Tax-Brain results (the graph and the Aggregate Results table), it opens smoothly, and the X button closes it smoothly. But the bottom "Tables" result consistently freezes up, both when opening it and when closing it with the top-right X. I've reproduced the behavior in multiple simulation runs.

[2020-04-14 18:47] MattHJensen opened #116 "augment these labels"
![image](https://user-images.githubusercontent.com/8301092/79262115-c8da5980-7e5e-11ea-8ee6-a97dd66bad25.png)

[2020-04-15 20:19] Peter-Metz opened #117 "Correct output table row labels"
Under the "Current Law" and "Reform" tabs in the output table below, the row labels should not say "change."

<img width="536" alt="Screen Shot 2020-04-15 at 4 16 33 PM" src="https://user-images.githubusercontent.com/43755005/79384278-8aaf6980-7f34-11ea-8f90-facbf2e35b7b.png">

[2020-04-18 18:43] hdoupe commented on #115
Thanks for opening this issue @MaxGhenis. It freezes because it's loading a ton of tables, and it takes a bit for bokeh to load the data and get back to being responsive.

One thing that might help improve responsiveness is to make each table with the [bokeh tables widget](https://docs.bokeh.org/en/latest/docs/reference/models/widgets.tables.html) instead of directly embedding the HTML table:

htt

[2020-06-15 00:38] jdebacker opened #119 "Compute benefits totals in aggregate tables"
Currently, the default aggregate liabilities tables from Tax-Brain report payroll and individual income tax liabilities. But Tax-Brain also allows users to adjust parameters of spending programs such as UBI, Social Security, and unemployment insurance.

It might be useful to have the default liabilities table also report a line for changes in aggregate amounts of spending so that users can see the

[2020-06-16 15:29] jdebacker opened #121 "Tax-Brain dependencies"
After building the `taxbrxin-dev` environment and trying to run the pytest suite, I got a warning that I needed additional packages:

[code]

Shall I add `firefox` and `geckodriver` to the `environment.yml`?

cc @Peter-Metz @andersonfrailey

[2020-06-16 16:01] Peter-Metz commented on #121
Interesting, I'm not getting that warning but Google tells me this could be an issue with the `selenium` dependency.

@andersonfrailey do you know what Tax-Brain uses Selenium for?

[2020-06-16 18:07] jdebacker opened #122 "Pytest failure"
After installing two additional dependencies to the `taxbrain-dev` environment (noted in Issue #121), I ran into the following error in the unit tests:

[code]

I have been unable to find where `difference_graph.svg` or `dist_graph.svg` would be created.  @Peter-Metz, can you point me to the right place to look?

[2020-06-16 19:47] jdebacker commented on #122
Talking with @Peter-Metz, it sounds like this test is of a function not yet a part TaxBrain master branch.  @andersonfrailey Shall we remove this test or should we merge in the additional functionality?

[2020-06-16 20:07] andersonfrailey commented on #121
@Peter-Metz @jdebacker, selenium is used by Bokeh to create the png outputs in Tax-Brain's automated reports. Here's the section of the [Bokeh docs](https://docs.bokeh.org/en/latest/docs/user_guide/export.html) where they mention it.

[2020-06-16 20:23] andersonfrailey commented on #122
The functionality is there (`report.py`), I think the images just aren't being exported by Bokeh. Are you using Bokeh 2.0+? It's possible that something changed with the new version we need to make a fix for. Also do you have selenium installed?

[2020-06-16 21:47] Peter-Metz commented on #122
Looks like an issue with the SVG export -- the PNG's work just fine. I think we might need a line like:

```plot.output_backend = "svg"```

(Bokeh [documentation](https://docs.bokeh.org/en/latest/docs/user_guide/export.html#exporting-a-svg-image)), but the test still isn't passing locally. I can take another look tomorrow.

[2020-06-16 22:18] jdebacker commented on #122
@andersonfrailey I'm using Bokeh 2.1.0 and Selenium 3.141.0.

[2020-06-17 02:54] andersonfrailey commented on #122
Gotcha. I just got the same error. I think @Peter-Metz might be right about what's going on. I'll look into it as well.

[2020-06-17 14:44] andersonfrailey commented on #122
Looks like @Peter-Metz was right. Once I added `plot.output_backend="svg"` everything passed. But, when I looked at the report generated all of the axis labels were missing. I think that `cairo` has trouble with `SVG` files. I think the best solution for now is to only use `PNG` files until we can get that figured out. I'll open up a PR to do that later today.

Here's what the missing labels in th

[2020-06-17 14:59] Peter-Metz commented on #122
+1

[2020-06-21 19:54] andersonfrailey commented on #122
Resolved with PR #123. Thanks for the report, @jdebacker! Closing.

[2020-06-21 19:54] #122 closed

[2020-06-24 20:59] andersonfrailey commented on #121
This issue was resolved with PR #123, closing.

[2020-06-24 20:59] #121 closed

[2020-06-24 21:02] andersonfrailey commented on #117
Resolved in PR #120, closing.

[2020-06-24 21:02] #117 closed

[2020-06-24 21:03] andersonfrailey commented on #119
Resolved in PR #120, closing.

[2020-06-24 21:03] #119 closed

[2020-07-31 13:17] crholb opened #126 "Feature Request from TaxBrain Power User"
I'm not a coder or anything, so I'm not sure if this is a big ask, but I would so appreciate the ability to add more marginal brackets than just eight, maybe as many as fifteen or twenty. --and further, it would be interesting to be able to modify economic parameters. I'm not sure what parametersTaxBrain uses, but it would be cool if you could modify parameters for GDP/inflation. Also, I'd like to

[2020-07-31 19:17] andersonfrailey commented on #126
Hey @crholb, thanks for opening this issue.

Implementing this would require changing the underlying Tax-Calculator model that TaxBrain interfaces with (you can learn more about that model [here](https://pslmodels.github.io/Tax-Calculator/index.html)) so it would take some time to get done. I can talk with the Tax-Calc team about adding a feature like this, but I can't promise that it could happen

[2020-07-31 22:41] andersonfrailey opened #127 "Parameter conversion in cs config"
https://github.com/PSLmodels/Tax-Brain/blob/517469df91bcd8f36ea864dea2230270f0e8ade6/cs-config/cs_config/functions.py#L25

@hdoupe, now that Tax-Calculator uses paramtools do we still need to convert the policy parameters before creating the `TCParams` class object?

[2020-07-31 23:10] hdoupe commented on #127
@andersonfrailey we still have to convert the parameters until the new version of TC is released.

Trust me, I'm counting down the days until we can get rid of (prepare yourself) this:

https://github.com/PSLmodels/Tax-Brain/blob/517469df91bcd8f36ea864dea2230270f0e8ade6/cs-config/cs_config/helpers.py#L130-L171

[2020-09-22 20:40] Peter-Metz opened #129 "Unexpected results with CPI checkboxes"
A user pointed out that clicking a CPI checkbox after modifying the parameter value does not affect the results (when you'd expect it to). For example, [this run](https://compute.studio/PSLmodels/Tax-Brain/47915/) modifies `II_brk6` then turns the CPI checkbox off while [this run](https://compute.studio/PSLmodels/Tax-Brain/47914/) modifies the parameter but not the CPI checkbox. However, the overa

[2020-09-22 21:14] hdoupe commented on #129
For reference

[JSON for first run:](https://compute.studio/PSLmodels/Tax-Brain/47915/)

[code]

[For second run:](https://compute.studio/PSLmodels/Tax-Brain/47914/)

[code]

[2020-09-22 21:16] hdoupe commented on #129
@Peter-Metz does it look like the values were updated correctly? If the JSON looks good above, then next step is run them through the conversion code and make sure they are translated correctly.

Life will be nicer when I finish up #128 and not having to check the conversion code to see if the bug is there...

[2020-09-25 04:01] MaxGhenis opened #130 "Jupyter-Book documentation"
The current README and example notebook would be a nice start.

[2020-09-25 04:02] MaxGhenis opened #131 "Show example.ipynb on Google Colab"
Haven't tried it yet, but may be similar to how it's done on Tax-Calculator ([notebook](https://colab.research.google.com/drive/1sJmVMM1LIjqJF_u2iAJHhbS8Tbdj66BC?usp=sharing)).

[2020-09-25 04:04] MaxGhenis opened #132 "Read reform from Compute Studio"
@hdoupe is this possible with Tax-Brain in a similar way to what you described in https://github.com/PSLmodels/Tax-Calculator/issues/2445, e.g. [this Colab notebook](https://colab.research.google.com/drive/1sJmVMM1LIjqJF_u2iAJHhbS8Tbdj66BC?usp=sharing)?

[2020-09-25 21:55] andersonfrailey opened #133 "Run calculators for n reforms"
I don't know how useful this would be just yet, but it'd be a cool if TaxBrain could take a list of n reforms and run a calculator under each one. It would require rethinking how TaxBrain stores data from each run and memory management would be a huge issue. I think implementing this should wait until we find a way to reduce TaxBrain's memory issues.

[2020-10-09 18:48] andersonfrailey commented on #127
With the merge of #128 and pending new release of Tax-Brain, this issue can be closed.

[2020-10-09 18:48] #127 closed

[2020-12-12 14:44] hdoupe opened #145 "CS Error"
I noticed an error when running a  reform like this one:

[code]

This causes a py.test failure (reproducible here: https://github.com/hdoupe/Tax-Brain/tree/cs-error-repro):

[code]

[2020-12-12 14:45] hdoupe commented on #145
I think this is something I need to check in Tax-Calculator. I'll comment back in a few hours with more information.

[2021-02-13 23:04] andersonfrailey opened #152 "Refundable CTC Issue"
This issue was reported by a user modeling some CTC reforms. Specifically, upping the renewable CTC from $600 to $1500 has no effect when using the PUF. Either way we see a drop in tax liability of ~$91 billion. This is only an issue with the PUF. Liabilities change as expected when you use the CPS. Given this, it's likely a data issue that I haven't gotten to the bottom of yet, but I want to open

[2021-02-18 02:41] jdebacker opened #157 "Convert table function"
The `report_utils.convert_table()` function is said to convert a DataFrame to markdown.

Why not just use [`pd.DataFrame.to_markdown()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_markdown.html)?

[2021-02-18 02:56] jdebacker opened #158 "Convert params function"
Since `cs2tc` is a dependency, I think one could use a function from that package and remove the `report_utils.convert_params()` function.

[2021-02-18 15:50] jdebacker commented on #158
Also perhaps redundant with `cs2tc`:

* `utils.update_policy()`
*  `utils.is_paramtools_format()`

[2021-02-19 02:57] andersonfrailey commented on #157
I'm blanking on the exact details, but I think I ran into some issue with pandoc not converting the tables properly when I used `to_markdown()`. But I ran into enough pandoc issues that I could be mixing them up now. I do know that we use the `convert_table()` function for converting more than just DataFrames though and I wanted all of that to be handled with just one function.

[2021-02-19 03:02] jdebacker commented on #133
@andersonfrailey This would be a very good feature, especially if this could be used to generate stacked revenue estimates, with separate line items for each provision.

[2021-02-19 03:04] jdebacker commented on #132
@MaxGhenis Was this addressed with @MattHJensen's [demo day](https://www.youtube.com/watch?v=0E_GawHQres)?

[2021-02-19 03:13] andersonfrailey commented on #133
@jdebacker that's one of the top uses I had in mind. It'll be much easier to add stacked revenue estimates once this feature is added.

[2021-02-19 03:14] andersonfrailey commented on #158
I'll defer to @hdoupe for this one

[2021-02-19 03:17] jdebacker commented on #116
@MattHJensen These come from the `policy_current_law.json` in Tax-Calculator, I believe.  It's not clear how to change these label names since these are choices in the ParamTools schema for Tax-Calculator.

If you or @hdoupe can confirm this, I'll move this issue over to the Tax-Calculator repo.

[2021-02-19 03:23] jdebacker commented on #94
@andersonfrailey You should be able to have this work well locally and on C/S.  You can have an argument for the Dask client and have it default to `None`.  Tax-Brain users running on their own machines may never  touch it, but you can set it to what you want for Compute-Studio runs.

e.g. in OG-USA's [`execute.runner()`](https://github.com/PSLmodels/OG-USA/blob/3a8025aa772eab3372c11659f5f35b2ea11

[2021-02-19 03:26] jdebacker commented on #42
I believe this issue can be closed now.  That right, @andersonfrailey?

[2021-02-19 03:30] jdebacker commented on #157
Ah - got it!  Closing issue.

[2021-02-19 03:30] #157 closed

[2021-02-19 03:32] jdebacker commented on #130
now up at: https://pslmodels.github.io/Tax-Brain/content/intro.html

[2021-02-19 03:35] jdebacker commented on #131
[The Tax-Brain Jupyter Book](https://pslmodels.github.io/Tax-Brain/content/intro.html) now contains `example.ipynb`.  There is an option to open in Binder right now, but not Colab.

@MaxGhenis This could be added, but is it useful if one needs to remember to install `taxbrain` in the notebook before running?  I suppose  you can add some `if colab... install taxbrain` type statement at the beginnin

[2021-02-19 13:17] MattHJensen commented on #116
@jdebacker I am ok with that, but it will cause a breaking change in Tax-Calculator so we'll have to manage when a fix gets merged into master. (We could either leave a PR open or perhaps start a 4.0.0 branch.)

When this was discussed in the past (in a Tax-Calculator issue or the PR where these labels were introduced, I believe, that I can't find right now), Martin suggested adding a step in Tax-

[2021-02-19 14:21] hdoupe opened #161 "Host docs at taxbrain.pslmodels.org?"
Now that @jdebacker has moved the docs to jupyter books, @andersonfrailey do you have any thoughts on hosting the docs at https://taxbrain.pslmodels.org?

[2021-02-19 14:24] hdoupe commented on #145
This will be resolved once Tax-Calculator is released.

[2021-02-19 15:08] hdoupe commented on #132
This is something I have been tinkering with.

Right now, if you pass in a CS reform URL, you get an error. So, you have to read the file with a ParamTools method `read_params` to get the reform before passing it to Tax-Brain:

![image](https://user-images.githubusercontent.com/9206065/108521478-c2481a00-7299-11eb-98db-f818b00422cb.png)

One way to make the  API a little smoother is:

[code]

Unde

[2021-02-19 15:18] jdebacker commented on #132
Pushing this to Tax-Calculator, which defines the format for reforms, sounds like the right way to go.  Otherwise, each project that uses Tax-Calculator would have to do the work arounds you note above.

cc @hdoupe @MattHJensen

[2021-02-19 15:23] hdoupe commented on #158
`cs2tc` only makes a couple high-level changes to the parameter format. For example, it renames parameters coming from CS that are named `EITC_c_checkbox` to `EITC_c-indexed`. It doesn't do full conversions between ParamTools and Tax-Calculator parameter formats.

Tax-Calculator's [`Parameters._update`](https://pslmodels.github.io/Tax-Calculator/api/parameters.html#taxcalc.parameters.Parameters._u

[2021-02-20 02:01] andersonfrailey commented on #161
@hdoupe I'm good with that. What would we need to do for that?

[2021-02-20 02:17] andersonfrailey commented on #42
@jdebacker yep all of this has been taken care of.

[2021-02-20 02:17] #42 closed

[2021-02-28 14:56] hdoupe commented on #161
Sorry @andersonfrailey just saw this comment. Not much at all--I can do everything through the Github and Cloudflare settings. Just need your approval.

[2021-03-04 21:56] jdebacker commented on #130
Closed with PR #153

[2021-03-04 21:58] jdebacker opened #162 "typing.py"
@andersonfrailey I can't quite figure out what the purpose of the `typing.py` module is.  Can you help me understand?

[2021-03-05 01:12] hdoupe commented on #162
@jdebacker this just defines a few types to help document function signatures.

For example, the `TaxcalcReform` and `ParamToolsAdjustment` are used here:

https://github.com/PSLmodels/Tax-Brain/blob/05984901c87645b630d348a328f3da5588b5ade7/taxbrain/utils.py#L257-L285

Side note: `is_paramtools_format` is now implemented in Tax-Calculator: https://taxcalc.pslmodels.org/api/parameters.html#taxcalc.

[2021-03-05 01:14] hdoupe opened #163 "CS Release with Tax-Calculator 3.1.0?"
@andersonfrailey it might be a good time to do a CS release since TC 3.1.0 fixes some bugs that affect TB users somewhat often. I don't think we necessarily need to do a full release, but I'll defer to you on that.

[2021-03-05 03:00] jdebacker commented on #162
@hdoupe Thanks for the reply.  I haven't used type hinting or see it before.  Just read [this Real Python article](https://realpython.com/lessons/pros-and-cons-type-hints/) and not clear on benefits if you already have docstrings noting the types for the inputs and output of functions.  Can help catch additional errors?

[2021-03-06 21:26] andersonfrailey commented on #163
@hdoupe, I'm good with that. I don't think we need a full TB release for this. Unless I missed something, most PRs merged since the last release were just for CS, not TBs internals.

[2021-03-06 21:45] andersonfrailey commented on #161
Go for it, @hdoupe!

[2021-03-08 15:00] chusloj commented on #162
@jdebacker These type hints from the `typing` module are mostly used for type-checking during development in IDEs. However, if you use a static type-checker like [`mypy`](http://mypy-lang.org) you can find errors based on type hints. Also, I think you can use the `typing` module with the built-in `isinstance()` function.

@hdoupe Does this sound correct?

[2021-03-08 19:00] MaxGhenis commented on #162
IDEs can also automatically populate the docstring types based on type hints.

[2021-03-08 22:36] jdebacker commented on #162
Got it - thanks for all the input on the use of the `typing` package and how type hints can be useful.

[2021-03-08 22:36] #162 closed

[2021-03-08 22:45] jdebacker opened #164 "Tax-Brain module naming"
I've separately run into two import issue when trying to use the `taxbrain` package after building it locally:

1) An error where building noting a circular import of `typing`.  Note that there is a module in `taxbrain` called `typing` and that module itself imports a python package called `typing`.
2) An error when trying to import `taxbrain` modules like `from taxbrain import utils`.  The error

[2021-03-10 02:43] hdoupe commented on #161
Done! Sorry for the delay:

https://taxbrain.pslmodels.org

[2021-03-10 03:01] hdoupe commented on #163
Thanks @andersonfrailey. I'll do a push tomorrow and will report back when it's live.

[2021-03-10 21:29] jdebacker commented on #164
I'm closing this Issue.  I was able to resolve (2) without changing module names.

[2021-03-10 21:29] #164 closed

[2021-03-13 21:48] andersonfrailey commented on #161
Beautiful. Thanks, @hdoupe! Closing this now that the new website is up.

[2021-03-13 21:48] #161 closed

[2021-03-16 02:43] jdebacker opened #166 "Link to Jupyter Book docs"
Add a link to the new docs in the "About" part of the home page.

Also, maybe update the README to fix a broken link to some docs and perhaps link to new docs there too.

[2021-03-16 02:54] jdebacker opened #167 "Build package for Python 3.8+"
It would be helpful to have a Tax-Brain package available for Python 3.8+.  It would play better with other PSL models.

Given the state of Package-Builder, it might be good to move to conda forge for new releases.

[2021-03-16 14:16] andersonfrailey commented on #167
+1 to this. I'm planning on doing a new release in the next few days and will try to so using conda forge.

[2021-03-20 07:13] jhpratt opened #169 "Self-hosted GUI"
While having a programmatic API is awesome (and very powerful), it's certainly not for everyone. Even as a programmer myself, I'd prefer to have a GUI. Would it be possible to share the code used on compute studio such that I could host it myself? This would allow me to run a large number of simulations without using up resources elsewhere.

[2021-03-20 14:19] hdoupe commented on #169
Hi @jhpratt, I just wanted to say that you are welcome to use Compute Studio to run a large number of simulations. That's what it's built for!

The GUI is tightly coupled with the Compute Studio system, but you are welcome to run Compute Studio locally or deploy it yourself: https://github.com/compute-tooling/compute-studio#local-development-the-hard-way

Under the hood, Compute Studio uses ParamT

[2021-03-29 15:40] andersonfrailey commented on #167
Tax-Brain is live on conda-forge! It can be installed with `conda install -c conda-forge taxbrain` and works in python 3.8 environments.

Thanks to @chusloj for helping out with this.

[2021-03-30 18:25] #167 closed

[2021-04-01 01:56] jdebacker opened #176 "Compute Studio Start Year Values"
Tax-Calculator has tax logic back to 2013, but the CPS data are from 2014.  This means that when one tries to run Tax-Brain with start year 2013 selected and selects the CPS as the data source, an error is thrown:

<img width="890" alt="Screen Shot 2021-03-31 at 9 52 13 PM" src="https://user-images.githubusercontent.com/10715924/113232654-93936b00-926b-11eb-9beb-b1f1604e3fc5.png">

I don't know of

[2021-04-01 14:31] hdoupe commented on #176
Thanks for opening this @jdebacker. It seems like we should add a check to the `taxbrain` package that gives more information about what years are available for a given data source.

For the Compute Studio app, we should update [`get_inputs`](https://github.com/PSLmodels/Tax-Brain/blob/master/cs-config/cs_config/functions.py#L42-L64) to only return 2014 and up when the CPS is selected and have a c

[2021-04-02 02:26] jdebacker commented on #176
Here's my attempt at a solution over in CCC: https://github.com/PSLmodels/Cost-of-Capital-Calculator/pull/344/files

Tests pass locally, but start years are explicitly tested.

@hdoupe Thoughts?

[2021-04-04 15:01] #176 closed

[2021-05-31 01:44] MaxGhenis opened #180 "Add SS_percentage1 and SS_percentage2 to CS app"
These default to 50% and 85%, it'd be nice to be able to change them.

[2021-06-11 06:56] MaxGhenis commented on #180
Per this week's PSL community meeting discussion, PSLmodels/Tax-Calculator#2596 should suffice for this issue, once the app is next updated.

[2021-09-02 14:00] hdoupe opened #183 "C/S Build error"
I'm getting this error when I try to deploy a new version of Tax-Brain.

I'll try again with the newest version of the PUF and will report back.

[code]

[2021-09-02 18:40] jdebacker commented on #183
@hdoupe that should be resolved with the new puf.  It looks like something where the weights file is not the same length as years in the data.

[2021-10-05 20:27] #183 closed

[2021-11-08 15:15] #163 closed

[2021-11-08 15:20] hdoupe commented on #163
I'm going to re-open an issue with more current info.

[2021-11-08 15:41] hdoupe opened #188 "C/S update error"
I'm getting this error when trying to update Tax-Brain for Compute Studio:

[code]

<details><summary>Full stack trace</summary>

[code]

</details>

It looks like the error is being thrown when assigning the values of one dataframe to another one (**line 158**):

https://github.com/PSLmodels/Tax-Brain/blob/2c63597d8132e79edff64c62f481fdf8d5e60149/cs-config/cs_config/helpers.py#L150-L159

I verifi

[2021-11-08 16:26] hdoupe commented on #188
It looks like the dataframe in `group2` has an extra column that's not in `group1`: `reform_affected`. If we drop this, I think we should be good to go. @andersonfrailey thoughts?

![image](https://user-images.githubusercontent.com/9206065/140779890-8a980220-82b7-47c4-809e-9b8b16625c6c.png)

[2021-11-09 13:09] andersonfrailey commented on #188
@hdoupe

I agree. I went back a bit and it looks like that column was added three years ago. Unclear why it's just throwing an error now, but dropping it should fix the problem.

[2021-11-09 14:55] hdoupe commented on #188
Ok, cool. Thanks for taking a look. I'll open a PR

[2022-07-07 03:09] MaxGhenis opened #190 "Identical results for reform analysis selecting CPS and PUF"
I ran a reform repealing EITC childless age limits through Tax-Brain, and got identical results whether selecting the [CPS](https://compute.studio/PSLmodels/Tax-Brain/53287/) or the [PUF](https://compute.studio/PSLmodels/Tax-Brain/53288).